* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 70px;
    font-weight: 700;
    padding-top: 30px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 0%;
}

h3 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}

h5 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0%;
}

p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 0%;
    color: rgb(106, 105, 105);
}



.top-section {
    background-image: url(images/first-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0%;
    height: 850px;
}

.top {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 8%;
}

.top p {
    color: aliceblue;
}

.button {
    text-decoration: none;
    background-color: rgb(17, 143, 36);
    padding: 15px 25px;
    border-radius: 10px;
    color: rgb(253, 252, 252);
    font-size: 25px;
    font-weight: 500;

}

.box-1 {
    width: 200px;
    height: 160px;
    border: 0px;
    border-radius: 10px;
    padding-top: 30px;
    margin: 5px;
}

.box-2 {
    width: 200px;
    height: 160px;
    background-color: rgb(170, 251, 186);
    border: 2px solid rgb(17, 143, 36);
    color: rgb(17, 143, 36);
    border-radius: 10px;
    padding-top: 30px;
    margin: 5px;
}

.amount {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.other-amount {
    margin-top: 2%;
    color: rgb(169, 164, 164);
    text-align: center;
}

hr {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.donation-plan {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box-3 {
    width: 400px;
    height: 400px;
    background-color: rgb(210, 247, 247);
    border-radius: 10px;
    margin: 1%;
}


.box-4 {
    width: 400px;
    height: 400px;
    background-color: rgb(232, 225, 233);
    border-radius: 10px;
    margin: 1%;
}

.box-5 {
    width: 400px;
    height: 400px;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    margin: 1%;
}

.box-description {
    padding: 30px;
    text-align: justify;
}

.box-description h3 {
    font-size: 30px;
    text-align: left;
}

.box-description h4 {
    font-size: 20px;
    text-align: left;
    margin-top: -30px;
}

.box-description p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.icon {
    width: 70px;
    padding-top: 45px;
    padding-left: 30PX;
    padding-bottom: 0%;
    margin-bottom: 0%;
}


.second-section {
    display: flex;
    justify-content: center;
}

.mid-img-section {
    width: 500;
    height: 400;
    padding: 80px;
}

.bottom-img-section {
    width: 400;
    height: 400;
}

.mid-section {
    width: 600px;
    height: 700px;
    text-align: left;
    padding-left: 50px;
    padding-right: 40px;
}

.bottom-section {
    width: 600px;
    height: 700px;
    text-align: left;
    padding-left: 60px;
    padding-right: 50px;
}

.mid-section p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
}

.bottom-section p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
}

#update h2 {
    margin: 0%;
    padding-top: 60px;
}

.read-more h2 {
    margin-top: 0%;
}

.campaign-plan {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.campaign {
    width: 400px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin: 8px;
}

.image {
    width: 400px;
}

.box-description a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 143, 36);
    border-radius: 10px;
    padding: 16px;
    padding-top: 15px;
    border: none;
}

.last-section {
    width: 55%;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 120px;
    background-color: rgb(224, 224, 207);
    border-radius: 20px;


}

.form-control {
    padding: 20px 95px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: aliceblue;
}

/* .button2 {
    text-decoration: none;
    background-color: rgb(215, 72, 62);
    padding: 15px 20px;
    border-radius: 0px 5px 5px 0px;
    color: rgb(253, 252, 252);
    font-size: 20px;
    font-weight: 400;
    border: none;

} */

.email {
    padding-top: 90px;
}

.email a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 143, 36);
    border-radius: 0px 5px 5px 0px;
    padding: 16px;
    border: none;
}

footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

h5.a {
    padding-top: 70px;
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(226, 75, 75);
    font-weight: 600;

}